**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin
**/obj
**/obj/**
**/node_modules
**/npm-debug.log
**/angular
**/wwwroot/lib
**/.nuget/packages
**/Pubquiz.sqlite*
**/Pubquiz*.sqlite*
**/data/**
**/keys/**
docker-compose.yml
Dockerfile
.env